html {
  margin: 0 auto;
  font-size: 12px;
}
body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background: url('../public/music-bg.jpg');
  background-repeat: no-repeat;
  display: flex;
}
h1, h2, h3, h4, p {
  margin: 0;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  margin: 0 auto;
  opacity: 0.8;
}